asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.1
cloudinary==1.46.2
colorama==0.4.6
dj-database-url==3.1.2
Django==5.2.17
django-cloudinary-storage==0.3.0
django-cors-headers==4.9.0
django-environ==0.14.0
django-filter==24.3
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
gunicorn==22.0.0
idna==3.19
iniconfig==2.3.0
packaging==26.3
pillow==10.4.0
pluggy==1.6.0
psycopg2-binary==2.9.12
pygame==2.6.1
Pygments==2.21.0
PyJWT==2.13.0
pypng==0.20220715.0
pytest==9.1.1
python-decouple==3.8
python-dotenv==1.2.3
qrcode==7.4.2
requests==2.34.2
ruff==0.15.12
six==1.17.0
sqlparse==0.6.0
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
whitenoise==6.12.0
